@charset "utf-8";
/* CSS Document */
body {
	text-align: center;
	margin: 15px 0;
}
.clearfix::after {
 content: "";
 display: block;
 clear: both;
}
img {
	width: 100%;
}
p {
	margin: 0;
	padding: 0 1em;
}
h1 {
	font-size: 32px;
}
h2 {
	font-size: 24px;
	font-weight: bold;
	line-height: 2;
}
h3 {
	font-size: 20px;
}
h3 {
	font-size: 18px;
}
p {
	text-align: left;
	line-height: 1.8;
}
a {
	display: inline-block;
	padding: 0.3em 1em;
	text-decoration: none;
	color: #696969;
	border: solid 3px #696969;
	font-weight: bold;
	transition: .4s;
}
a:hover {
	background: #696969;
	color: #fff;
}
hr {
	border-top: 1px solid #bbb;
	border-bottom: 1px solid #fff;
	margin: 15px;
}
table {
	margin: 0 auto;
	border-collapse:  collapse;
	max-width: 70%;
}
th, td {
	padding: 7px;
	border: 1px solid #555;
}
select, button {
	padding: 10px;
}
ul, li {
	list-style: none;
	margin: 0;
	padding: 0;
}
li {
	line-height: 2;
	display: inline-block;
	margin: 0 5px;
}
.pager span {
	margin: 0 10px 5px 10px;
	display: inline-block;
	padding: 0.3em 1em;
}
.pager a {
	text-decoration: none;
	color: #000;
	border: none;
	font-weight: bold;
	transition: .4s;
	padding: 0;
}
.pager a:hover {
	background: none;
}

.pager a:hover span {
	background: #ccc;
}

/* 各地点ラベル設定 */
h2.toumyou {
	background: #006400;
	color: #fff;
}
